#fond-blog {
  position: relative; /* Establecer la posición relativa para que el fondo se pueda superponer en la imagen */
}

#fond-blog img {
  width: 100%; /* Ajustar el ancho de la imagen */
  display: block; /* Establecer la imagen como un elemento en bloque */
  margin: 45px auto 0; /* Centrar la imagen horizontalmente y agregar un margen superior */
}


.cards-blogBC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posteo-blogBC1 {
  /* position: relative; */
  width: 400px;
  height: 250px;
  margin: 30px;
  overflow: hidden;
  margin-top: -5em;
}

.image-cardBC2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  
}

.posteo-blogBC1:hover{
  transform: scale(1.05);
}

/* -------------------container blog title----------- */

.container-titleB {
  width: 100%;
  padding-top: 30px;
  margin: 10em auto;
  /* border: 2px solid #000; */
  border-radius: 1px;
  padding: 10px;
  background-color: #000000;
  text-align: center;
  font-family: 'Times New Roman';
}

.container-titleB h2 {
  font-size: 40px;
  font-family: 'Times New Roman';
  color: #ffffff;
}


/* -------------------cards-------------------- */

.recent-single-post1 {
  border-bottom: 2px solid rgb(221, 221, 221);
  padding: 30px 1px;
 margin-left: 70px;
padding-top: 40px;
margin-right: 450px;
}

.left-blog {
margin-top: 50px;

}

.left-blog h4 {
color: rgb(68, 68, 68);
background: none 0px 0px repeat scroll rgb(243, 243, 243);
font-size: 23px;
font-weight: 300;
margin-bottom: 5px;
text-transform: uppercase;
border-bottom: 5px solid rgb(221, 221, 221);
padding: 20px 10px;
font-family: 'Times New Roman';
}

h4 {
  line-height: 20px;
  font-family: 'Times New Roman';
  display: block;
  }

.pst-content h4{
color:#7DC3E8;
font-weight: 600;
font-family: 'Times New Roman';
}

.post1-img {
display: inline-block;
width: 300px;
height: 300px;
padding: 10px 10px;
margin-right: 10px;
}
img {
max-width: 100%;
display: block;
}

.pst-content {
display: inline-block;
width: 55%;
height: 60%;
margin-left: 10px;
padding-top: 15px;

}

.pst-content p {
color: rgb(68, 68, 68);
margin: 1px 2px 1px;
font-size: 23px;
word-wrap: break-word;
text-align: justify;
font-family: 'Times New Roman';
}
.pst-content span{
  font-weight: 600;
}

.button-blog {
padding: 10px 20px;
font-size: 16px;
background-color: #249bad;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
text-align: center;
position: relative;
left: 80px;
font-family: 'Times New Roman';
}

.button-blog:hover {
  background: radial-gradient(circle at 81.8% 27.73%, #419985 0, #38998c 6.25%, #309993 12.5%, #279999 18.75%, #2099a0 25%, #1c99a6 31.25%, #1c98ab 37.5%, #2197b0 43.75%, #2996b5 50%, #3395b9 56.25%, #3e93bc 62.5%, #4992bf 68.75%, #5490c0 75%, #5f8ec1 81.25%, #6a8cc1 87.5%, #748ac0 93.75%, #7e87be 100%);
}

/* -----------container enjoy blog------------ */

.container-titleB1 {
  width: 100%;
  padding-top: 30px;
  margin: 8em auto;
  /* border: 2px solid #000; */
  border-radius: 1px;
  padding: 15px;
  background-color: #000000;
  text-align: center;
}

.container-titleB1 h2 {
  font-family: 'Times New Roman';
  font-size: 40px;
  color: #ffffff;
}
.container-post .post1-img{
  padding: 10px;
  margin-top: -6%;
  margin-right: -30px;
}
.container-post img{
  width: 90%;
  margin-left: 25px;
}
.container-post .post1-img img{
  padding-top: 60px;
}

/* -------------float whatsapp---------------- */

.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:50px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:20px;
  margin-left: 1px;
}

/* -------search-------- */

.filtro {
  display: none;
}

.buscador-blog{
  display: block;
  margin-top: 4em;
  margin-left: 40em;
  margin-right: 40em ;
  background-color: #7DC3E8;
}
/* .search-option {
  margin-bottom: 50px;
} */
.search-option input {
  border: medium none;
  padding: 17px 221px;
}
.search-option input, input[type="text"]{
box-shadow: none !important;
font-size: 23px;
font-family: 'Times New Roman';
}


@media (max-width: 768px) {
 
  .cards-blogBC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .posteo-blogBC1 {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: auto;
    margin: 10px;
    margin-top: 2em;
  }

  .buscador-blog {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .recent-single-post1 {
    margin: 0 20px; /* Ajusta los márgenes laterales */
    padding: 20px 1px; /* Ajusta el relleno superior e inferior */
  }
  
  .pst-content {
    display: block; /* Cambia a un bloque para ocupar todo el ancho disponible */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
    margin-left: 0; /* Elimina el margen izquierdo */
    margin-bottom: 10px; /* Añade un margen inferior para separar los elementos */
  }
  
  
  .button-blog {
    padding: 8px 16px; /* Ajusta el relleno superior e inferior */
    font-size: 14px; /* Ajusta el tamaño de fuente */
    margin: 10px; /* Agrega un margen alrededor del botón */
    position: relative;
    left: 0; /* Ajusta la posición izquierda a cero */
    display: inline-flex; /* Utiliza flexbox para alinear verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  


  .button-blog:hover {
    background: #419985; /* Cambia el gradiente radial a un color sólido */
  }




@media (max-width: 480px) {
  .left-blog {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

}
}