@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,400&display=swap');

:root {
  --my-animation : blink 1s infinite;
  --font-title: 'Open Sans', sans-serif;
  --font-paragrhaps: 'Poltawski Nowy', serif; 
  --font-third: 'Roboto', sans-serif;
}



#fond-blog {
  position: relative; /* Establecer la posición relativa para que el fondo se pueda superponer en la imagen */
}

#fond-blog img {
  width: 220%; /* Ajustar el ancho de la imagen */
  
 
  display: block; /* Establecer la imagen como un elemento en bloque */
  margin: 55px auto 0; /* Centrar la imagen horizontalmente y agregar un margen superior */
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.Blog h2 {
  animation: var(--my-animation);
}


.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  margin-top: 15em;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  
}

.post:hover .post-image {
  transform: scale(1.2);
}

.post-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(120, 117, 126, 0.71);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 400ms ease-in-out;

}

.post:hover .post-hover {
  opacity: 1;
}

.post-hover-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

/* ---------css minjibyung---------- */
.header-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.603)), url('./public/banner.jpg');
  background-size: cover;
  width: 100%;
  height: 670px;
  padding: 5px;
  margin-top: 5em;
}
.container-banner{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10em;
}
.container-title{
  color:#ffffff;
  text-decoration:overline;
  font-size: 2em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container_banner h1 {
  text-decoration: none;
}
.header-btn{
  justify-content: center;
  align-items: center;
  display: flex;
margin-top: 15em;
}

.date-btn {
  align-items: center;
background-color: #43b5cc;
  color: #000000; 
  padding: 20px 14px; 
  text-align: center;
  font-size: 17px;
  margin: 5px; 
  cursor: pointer;
  border-radius: 40px; 
  border-color: #000000;
  position: relative;
  bottom: 130px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.date-btn:hover, .boton:focus {
    background-color: #aedbe4;
}
.date-btn{
  position: relative;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  padding: 14px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.date-btn::before{
  position: absolute;
  /* transform: translate(-40%,-20%); */
  z-index: -1;
  transition: all 1.4s ease;
}
.container {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  /* font-weight: 500; */
  letter-spacing: 1px;
  /* margin-right: 100px; */
  padding: 1px;
}
    .footer-area {
      background: #000000;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-content {
  display: block;
  overflow: hidden;
}
.footer-area p{
  font-size: 25px;
  padding: 20px 18px;
  margin-top: 41px;
}
.footer-area p span{
  color: #ffffff;
  font-weight: 700;
}

.address{
  padding-top: 70px;
  margin-right: 100px;
}
.fa-location-dot{
margin-left: 70px;
}
.phone{
  padding-top: 70px;
  margin-right: 100px;
}
.fa-phone-volume{
  margin-left: 43px;
}
.phone-info .dateT{
  margin-right: 10px;
}
.email{
padding-top: 70px;
margin-right: 30px;
}
.fa-envelope{
  margin-left: 33px;
}
.email-info .dateT{
  margin-right: 30px;
}


.container i {
  font-size: 25px;
  margin-right: 100px;
}




