.menu-principal {
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	height: 10vh;
	z-index: 9999;
	padding: 10px;
}

.menu-principal h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	/* margin: 0; */
	color: #ffffff;
<<<<<<< HEAD
	padding-right: 1%;
	padding-left: 15px;
=======
	padding-right: 98px; 
>>>>>>> b229bc59414848d55258b81e8ccd2b4f31bb2c9d
}

.menu-principal h1 span {
	color: aqua;
}
.Texto-Login{
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	align-items: center;
}

/* img {
	cursor: pointer;
} */

.menu-principal li {
	margin: 4rem;
	position: relative;
}

.menu-principal ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.links {
	text-decoration: none;
	color: #ffffff;
	padding: 0.5rem;
	font-size: 22px;
	position: relative;
	left: 183px;
	transition: transform 0.3s ease;
}

.links:hover {
	color: #5ffdff;
}

.links + .dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color: #000000;
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.logo {
	float: left;
	position: relative;
	padding-left: 28px;
	margin-right: 35px;
}

.icono-inicio {
	width: 30px;
	margin-left: 21px;
	position: relative;
	bottom: 5px;
	transition: transform 0.3s ease;
}

.icono-inicio:hover {
	transform: scale(1.2);
}

.icon-container {
	margin-left: 3rem;
}

<<<<<<< HEAD
.container2-principal {
=======

/* ESTILOS PARA EL CONTENEDOR DEL HEADER WEB */
.container2 {
>>>>>>> b229bc59414848d55258b81e8ccd2b4f31bb2c9d
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	/* background-color: red; */
}

<<<<<<< HEAD
.container2-principal li {
=======

.container2 li {
>>>>>>> b229bc59414848d55258b81e8ccd2b4f31bb2c9d
	align-items: center;
	text-align: center;
	/* margin-right: 70px; */
	padding-right: 70px;
}

.dropdown-wrapper {
	position: relative;
}

.dropdown-button {
	display: block;
	padding: 0.5rem;
	color: #ffffff;
	text-decoration: none;
	background-color: #5ffdff;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	background-color: #000000;
	color: #ffffff;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	box-shadow: 0 0 0;
}

.icono-inicio-wrapper {
	/* margin-left: auto; */
	margin-right: 2rem;
}

.links.active {
	color: aqua;
}

.links2.active {
	color: aqua;
}

.text-inicio{
	color: #ffffff;
	/* font-size: 10px; */
	font-family: "Open Sans", sans-serif;
		font-size: 0.70rem;
}
@media screen and (min-width: 769px) {
	.toggle-menu {
		display: none;
	}
	.icono-mapa2 {
		display: none;
	}
	.icono-inicio {
		width: 50px;
		}
}
@media screen and (min-width: 394px) and (max-width: 767px) {
	.icono-inicio {
		width: 50px;
		}
		.icono-inicio:hover {
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
}
		  .icono-inicio-wrapper{
			margin-left: 60px;
			position: absolute;
		  }
}

@media screen and (max-width: 768px) {
	.menu {
		flex-direction: column;
		justify-content: center;
		height: auto;
	}
	.menu h1 {
		font-family: "Open Sans", sans-serif;
		font-size: 1.7rem;
		text-transform: uppercase;
		margin: 0;
		color: #ffffff;
		margin-left: 20px; /* Modificado */
		display: flex;
		align-items: center;
	}

	.icon-hamburguer {
		filter: invert(1);
		width: 30px;
	}
	.toggle-menu {
		width: 40px;
		position: absolute;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}
	.container2-principal {
		display: none;
	}
	.container3 {
		background-color: #000000bf;
		position: absolute;
	}
	.links2 {
		color: #ffffff;
		margin: 10px;
		font-size: large;
	}

	.menu ul {
		flex-direction: column;
		align-items: center;
	}

	.menu li {
		margin: 1rem 0;
	}

	.icono-mapa2 {
		position: absolute;
		margin-right: 300px;
		margin-bottom: 20px;
	}

	.icono-inicio-wrapper {
		width: 15px;
		position: absolute;
		top: 1rem;
		right: 0rem;
		/* margin-left: 100px; */
		cursor: pointer;
	}

	.icono-inicio {
		/* width: 40px;
		position: absolute; */
		/* top: 3rem; */
		/* left: 9rem; */
		padding-left: 10px;
		cursor: pointer;
	}

	.icono-mapa {
		display: none;
	}

	.dropdown-button {
		font-size: small;
	}
}