@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,400&display=swap');

:root {
  --font-title: 'Open Sans', sans-serif;
  --font-paragrhaps: 'Poltawski Nowy', serif;
  --font-third: 'Roboto', sans-serif;
}


.menu {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;
  /* posición fija */
  position: fixed;
  top: 0;
  /* posición en la parte superior */
  left: 0;
  /* posición en la parte izquierda */
  right: 0;
  /*posición en la parte derecha*/
  background-color: #000000;
  height: 8%;
  z-index: 9999;
}

h1 {
  font-size: 2rem;
  /* font-weight: bold; */
  text-transform: uppercase;
  color: var(--font-color);
  font-family: var(--font-title);
  margin: 0;
}

h1 span {
  /* font-weight: normal; */
  color: #5FFDFF;
  --font-title: 'Open Sans', sans-serif;
  --font-paragrhaps: 'Poltawski Nowy', serif; 
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu li {
  margin: 0.15rem;
}

.links {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
}

.logo {
  float: left;
}

.icono-inicio {
  padding-left: 15rem;
  margin-right: 4rem;
}

.icono-mapa {
  margin-right: 4rem;
}

.menu h1 {
  text-align: left;
}

.container2 {
  margin-left: 200px;
  display: flex;
  justify-content: flex-end;
}

.container2 li {
  margin-left: 5rem;
  font-size: x-large;
}

span {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* #icon-menu img{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  padding: 10px;
  background: #ffffff;
  border-radius: 100%;
  color: #424140;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

/* #icon-menu:hover{
  opacity: 0.8;
}  */


/* .menu ul li{
  margin-left: 0.5rem;
} */

/* ul {
  margin: auto;
  text-align: center; 
 } */
/* 
  @media screen and (min-width: 2114px) {
    header {
      width: 50%;
      font-size: 1.2em;
      padding: 1em;
    }
  } */