.ranking-container {
	max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
	margin: 0 auto; /* Centra el contenedor horizontalmente */
	background-color: #e6e5e5; /* Color de fondo de la tarjeta */
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra para resaltar la tarjeta */
	margin-top: 250px;
}

.ranking-table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 150px;
	margin-left: -160px; /* Ajusta el valor para mover la tabla hacia la izquierda */
}

th,
td {
	padding: 12px;
	text-align: center;
	border-bottom: none;
}

th:first-child,
td:first-child {
	width: 40px;
}

.points {
	font-weight: bold;
}

.first-place {
	font-weight: bold;
}

.profile-pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 10px;
}

.position {
	font-size: xx-large;
}

.profile-pic-container {
	position: relative;
	display: inline-block;
}

.crown-icon {
	position: absolute;
	top: -10px; /* Ajusta el valor según la posición deseada */
	right: 17px; /* Ajusta el valor según el grado de inclinación deseado */
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
}

.title-rang {
	color: #000000;
	text-align: center;
	font-size: 50px;
}

.table-heading {
	background-color: #f2f2f2;
	font-weight: bold;
	border: 1px solid #ccc;
	color: #555;
	text-transform: uppercase;
}