.doctor-card-container{
  display:flex;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  padding: 10px;
}

.doctor-card {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.doctor-details {
  margin-bottom: 16px;
}

.doctor-details h2 {
  font-size: 20px;
  margin: 0;
}

.doctor-details p {
  font-size: 14px;
  margin: 0;
  color: #777777;
}

.doctor-rating {
  margin-bottom: 16px;
}

.doctor-rating h3 {
  font-size: 16px;
  margin: 0;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating .star {
  font-size: 44px;
  color: #cccccc;
  transition: color 0.3s;
  cursor: pointer;
}

.star-rating .star.selected,
.star-rating .star:hover {
  color: #ffcb3c;
}

.doctor-comments textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
}

button {
  background: #39b2ee;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #556f97;
}
