/* Estilos generales */
.card-comentario {
  background-color: #f2f2f2;
  color: #333333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vote-advise {
  color: #9b9a9a;
  font-size: 12px;
}

.div1-coment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-vote {
  padding: 4px 6px 6px 8px;
  text-align: center;
}

.comments-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-comm {
  font-size: 14px;
  padding: 6px;
}

.alwaysend {
  align-self: flex-end;
}

/* Estilos de tarjeta de especialista */
.doctor-card-container {
  display: flex;
  width: 100%;
  position: relative;
  left: 185px;
  top: 80px;
  gap: 16px;
  flex-wrap: wrap;
  padding: 20px;
}

.div-picture-rating {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}

.div2-details {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 10px;
}

.doctor-section1 {
  width: 100%;
  display: flex;
}

.doctor-section2::before {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  content: '';
}

.doctor-section2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.doctor-card {
  width: 450px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.doctor-card .div-picture-rating img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 90%;
  height: 180px;
}

.doctor-details {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.doctor-details h2 {
  font-size: 24px;
  margin: 0;
}

.doctor-details p {
  font-size: 16px;
  margin: 0;
  color: #777777;
}

.span-email {
  color: #000000;
}

.span-email:hover {
  text-decoration: underline;
  color: #4286b3;
  cursor: pointer;
}

.doctor-details p span {
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.doctor-rating {
  margin-bottom: 24px;
}

.doctor-rating h3 {
  font-size: 20px;
  margin: 0;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star-rating .star {
  font-size: 48px;
  color: #cccccc;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
  width: fit-content;
  height: fit-content;
}

.star-rating .star.selected,
.star-rating .star:hover {
  color: #ffcb3c;
}

.doctor-comments textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
}

button:not(.star) {
  background: #3194b3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}

/* button:hover:not(.star) {
  background-color: #556f97;+
} */

textarea {
  resize: vertical;
}
