.main{
    margin-top: 3rem;
    width: 100%;
}

textarea{
    resize: none;
}

.comentó{
    color: #5ea4cc;
}

.EspecialistaTitulo{
    color: #7DC3E8;
    font-size: 60px;
    align-items: center;
    text-align: center;
    position: relative;
    left: 130px;
    /* top: 25px; */
    font-family: 'Open Sans', sans-serif;
}