.contenedorrrr{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedorrrr:hover{
  transform: scale(1.1);
}

.contenidorrr{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 150%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loquerrr{
 position: relative;
 width: 80%;
 left: 45%;
 bottom: 50px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestrarrr img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 90px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestrarrr:hover img{
  transform: scale(1.1);
}

/* container1 */

.contenedor1111{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor1111:hover{
  transform: scale(1.1);
}

.contenido1111{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 120%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque1111{
 position: relative;
 width: 80%;
 left: 40%;
 bottom: 20px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra1111 img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom:60px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra1111:hover img{
  transform: scale(1.1);
}


/* container2 */


.contenedor2222{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor2222:hover{
  transform: scale(1.1);
}

.contenido2222{
  width: 83%;
  position: relative;
  left:23%;
  bottom: 190%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque2222{
 position: relative;
 width: 70%;
 text-align: center;
 left: 27%;
 bottom: 40px;
 color: #00bef5;
font-size: 28px;
font-family: 'Noto Sans Khojki';
}

.muestra2222 img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 110px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra2222:hover img{
  transform: scale(1.1);
}


/* container3 */


.contenedor3333{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor3333:hover{
  transform: scale(1.1);
}

.contenido3333{
  width: 80%;
  position: relative;
  left:26%;
  bottom: 150%;
  text-align:center;
  font-size: 20px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque3333{
 position: relative;
 width: 80%;
 left: 40%;
 bottom: 30px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra3333 img{
  width: 32%;
  position: relative;
  right: 75px;
  bottom: 70px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra3333:hover img{
  transform: scale(1.1);
}


/* conteiner4 */


.contenedor4444{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor4444:hover{
  transform: scale(1.1);
}

.contenido4444{
 
  width: 80%;
  position: relative;
  left:25%;
  bottom: 130%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque4444{
 position: relative;
 width: 80%;
 text-align: center;
 left: 25%;
 bottom: 30px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra4444 img{
  width: 32%;
  position: relative;
  right: 75px;
  bottom: 60px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra4444:hover img{
  transform: scale(1.1);
}


