.contact {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	/* background: url('https://images.pexels.com/photos/4269492/pexels-photo-4269492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("https://images.pexels.com/photos/6528851/pexels-photo-6528851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	/* opacity: 0.8;  */
	/* background-position: cover; */
	background-size: cover;
	/* background-repeat: no-repeat; */
	width: 100%;
	height: 94.2vh;
	padding: 60px;
}

/* .contact .content {
    max-width: 800px;
    text-align: center;
} */
.content {
	padding: 25px 25px 35px 25px; /* Ajusta los valores según tus necesidades */
  }
  
  .content h2 {
	font-size: 55px;
	font-weight: 100;
	color: #ffffff;
	margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Times New Roman';
  }
  

.contact .content p {
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	margin-top: 15px;
	font-family: 'Times New Roman';
}

.container {
	width: 100%;
	display: flex;
    /* flex-direction: ; */
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.container .contactInfo {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container .contactInfo .box {
	/* position: relative; */
    margin-top: 30px;
	padding: 10px 0;
	display: flex;
}

.container .contactInfo .box .icon {
	min-width: 50px;
	height: 70px;
	width: 60px;
	/* background: #fff; */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 20px;
}

.container .contactInfo .box .text h3 {
	display: flex;
	margin-left: 20px;
	font-size: 25px;
	color: #5ffdff;
	flex-direction: column;
	font-weight: 500;
	font-family: 'Times New Roman';
}

.container .contactInfo .box .text p {
	display: flex;
	margin-left: 20px;
	font-size: 25px;
	color: rgb(252, 248, 248);
	flex-direction: column;
	font-weight: 300;
	font-family: 'Times New Roman';
}

input,
textarea {
	background: rgba(250, 245, 245, 0.5);
	
}

.contactForm {
    margin-top: 15vh;
	width: 30%;
	padding: 36px;
	background: rgba(250, 245, 245, 0.5);
}

.contactForm h2 {
	font-size: 24px;
	font-family: 'Times New Roman';
	color: rgb(0, 0, 0);
	font-weight: 500;
	/* margin-left: 25px; */
	text-align: center;
	padding-bottom: 10px;
}

.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-top: 2px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 95%;
	padding: 5px 0;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #b1a1a1;
	outline: none;
	resize: none;
	font-family: 'Times New Roman';
	height: 28px;
	margin-left: 10px;
}
input[type="text"] {
  font-size: 15px; /* Tamaño de letra deseado */
}
.contactForm .inputBox span {
	position: absolute;
	left: 18px;
	/* padding: 1px 0; */
	font-family: 'Times New Roman';
	/* font-size: 10px; */
	margin: 14px 0;
	pointer-events: none;
	transition: 0.5s;
	color: rgb(21, 20, 20); /*color de la letra*/
	font-size: 15px; /*tamaño de letra del span*/
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
	color: rgb(17, 17, 17);
	font-size: 13px;
	transform: translateY(-27px);
	font-family: 'Times New Roman';
}

.contactForm .inputBox input[type="submit"] {
	padding: 1px 5px;
font-size: 16px;
background-color: #249bad;
color: white;
border: none;
margin-top: 25px;
height: 48px;
width: 25%;
border-radius: 10px;
cursor: pointer;
text-align: center;
position: relative;
left: 38%;
font-family: 'Times New Roman';
}
.contactForm .inputBox input[type="submit"]:hover {
	background: radial-gradient(circle at 81.8% 27.73%, #419985 0, #38998c 6.25%, #309993 12.5%, #279999 18.75%, #2099a0 25%, #1c99a6 31.25%, #1c98ab 37.5%, #2197b0 43.75%, #2996b5 50%, #3395b9 56.25%, #3e93bc 62.5%, #4992bf 68.75%, #5490c0 75%, #5f8ec1 81.25%, #6a8cc1 87.5%, #748ac0 93.75%, #7e87be 100%);
}

.inputBox-post input[type="checkbox"] {
	transform: scale(1.5); /* aumentar tamaño del checkbox */
}

.inputBox-post label {
	font-size: 16px; /* aumentar tamaño de la fuente */
	text-align: left; /* mover el texto hacia la izquierda */
	margin-left: 10px; /* agregar un margen izquierdo */
	color: #000000;
	font-family: 'Times New Roman';
}

.post-text {
	text-align: center;
	font-family: 'Times New Roman';
	padding: 15px;
	font-size: 22px; /*tamaño de letra del span*/
}

