.container_proce {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	/* background: url('https://images.pexels.com/photos/4269492/pexels-photo-4269492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ),
	  url("https://res.cloudinary.com/dexfjrgyw/image/upload/v1684601807/Fresh_Smile_Cmills/Procedimientos_-fondo_j3w4lj.jpg");
	/* opacity: 0.8;  */
	/* background-position: cover; */
	background-size: cover;
	/* background-repeat: no-repeat; */
	width: 100%;
	height: 500px;
	padding: 20px;
  }
  

.barra-procedimientos {
	width: 100%;
	/* padding-top: 30px; */
	margin: 20px auto;
	/* border: 2px solid #000; */
	/* border-radius: 20px; */
	padding: 10px;
	position: relative;
	bottom: 20px;
	background-color: #000000;
	text-align: center;
	/* margin: 20px 10px; */
	font-family: 'Times New Roman';
}

.barra-procedimientos h2 {
	font-size: 45px;
	color: #ffffff;
	font-family: 'Times New Roman';
}

.container-blog {
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(125,195,232,1) 0%, rgba(183,222,242,1) 35%, rgba(131,205,245,1) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 0;
  /* outline: none; Agregado para eliminar el outline */
}

.container-blog img {
  width: 40%;
  max-height: 200px;
  margin-right: 20px;
}

.container-blog .content {
  width: 60%;
}

.container-blog .content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #4fafd2;
  align-content: center;
  font-weight: bold;
  font-family: 'Times New Roman';
}

.p-blog {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman';
}

.btn-blog {
  font-family: 'Times New Roman';
  padding: 10px 20px;
  font-size: 16px;
  background-color: #249bad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 100px;
}

.btn-blog:hover {
  background:#1e6d79;
}



@media screen and (max-width: 768px) {
	.container_proce {
	  height: auto;
	  padding: 250px;
	  background-size: contain;
	}

	.container-procedimientos {
		flex-direction: column;
		padding-top: 20px;
	  }

	  .barra-procedimientos {
		margin: 10px auto;
		bottom: 10px;
	  }

	  .barra-procedimientos h2 {
		font-size: 30px;
	  }

	  .card {
		width: 100%;
		max-width: 350px;
		margin-right: 0;
		margin-bottom: 20px;
	  }

	  .card:hover {
		box-shadow: none;
	  }
	
	  .card-content {
		padding: 10px;
	  }

	  .card-title {
		font-family: 'Times New Roman';
		font-size: 25px;
		margin-bottom: 10px;
		color: #4fafd2;
		text-align: center;
		font-weight: bold;
	}
	.card-description {
		font-size: 16px;
	  }
    
	}
	  
  