.caj{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.caj:hover{
  transform: scale(1.1);
}

.par{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 150%;
  text-align:center;
  font-size: 19px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.tit{
 position: relative;
 width: 60%;
 left: 42%;
 bottom: 90px;
 color: #00bef5;
font-size: 33px;
font-family: 'Noto Sans Khojki';
}

.fot img{
  width: 30%;
  position: relative;
  right: 85px;
  bottom: 60px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fot:hover img{
  transform: scale(1.1);
}

/* container1 */

.caj1{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8  );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.caj1:hover{
  transform: scale(1.1);
}


.par1{
  height:1px;
  width: 60%;
  position: relative;
  left:40%;
  bottom: 200px;
  text-align:center;
  font-size: 20px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.tit1{
  width: 55%;
 position: relative;
 left: 43%;
 bottom: 40px;
 color: #00bef5;
font-size: 23px;
text-align: center;
font-family: 'Noto Sans Khojki';
}

.fot1 img{
  width: 35%;
  position: relative;
  right: 60px;
  bottom:50px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fot1:hover img{
  transform: scale(1.1);
}


/* container2 */


.caj2{
  width: 50%;
  height: 210px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8  );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.caj2:hover{
  transform: scale(1.1);
}

.par2{
  height:1px;
  width: 70%;
  position: relative;
  left:35%;
  bottom: 280px;
  text-align:center;
  margin-left:0%;
  font-size: 19px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.tit2{
 position: relative;
 width: 70%;
 left: 40%;
 bottom: 90px;
 color: #00bef5;
font-size: 30px;
text-align: center;
font-family: 'Noto Sans Khojki';
}

.fot2 img{
  width: 33%;
  position: relative;
  right: 60px;
  bottom: 100px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fot2:hover img{
  transform: scale(1.1);
}

/* container3 */


.caj3{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.caj3:hover{
  transform: scale(1.1);
}

.par3{
  height:1px;
  width: 75%;
  position: relative;
  left:33%;
  bottom: 230px;
  text-align:center;
  font-size: 20px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.tit3{
 position: relative;
 width: 55%;
 text-align: center;
 left: 40%;
 bottom: 60px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.fot3 img{
  width: 35%;
  position: relative;
  right:70px;
  bottom: 70px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fot3:hover img{
  transform: scale(1.1);
}

/* conteiner4 */


.caj4{
  width: 50%;
  height: 170px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.caj4:hover{
  transform: scale(1.1);
}

.par4{
  
  width: 70%;
  position: relative;
  left:35%;
  bottom: 250px;
  text-align:center;
  font-size: 19px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.tit4{
 position: relative;
 text-align: center;
 width: 80%;
 left: 30%;
 bottom: 40px;
 color: #00bef5;
font-size: 29px;
font-family: 'Noto Sans Khojki';
}

.fot4 img{
  width: 35%;
  position: relative;
  right: 60px;
  bottom: 80px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fot4:hover img{
  transform: scale(1.1);
}

