.agenda-form-container {
  width: 500px; /* Ancho deseado para el contenedor principal */
  margin: 0 auto;
  position: relative;
  top: 90px;
  padding: 10px;
  left:358px;
  /* background-color: #ffffff; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  
}

.agenda-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #34cfe7;
}
/* CSS para la ventana modal */
/* .modal  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
} */

.modal .modal-content {
  border-radius: 10px;
  background-color: #d1d1d1;
  width: 100%;
  height: 16em;
  padding: 15%;
  margin: -1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  text-align: center;
  margin-top: 4rem;
}
.modal-content .BotonParaMi,
.modal-content .BotonParaOtraPersona {
  padding: 10px 20px;
	margin-top: 2em;
	margin-left: 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #249bad;
  border: none;
  color: #fff;
  cursor: pointer;
}
.modal-content button:hover {
  opacity: 0.8;
}
.modal button {
  margin-right: 10px;
}

.man-container {
  position: relative;
  /* background-color: #0056b3; */
 
}

.man-image {
  width: 40%; /* Ajusta el valor según tus necesidades */
  height: auto; /* Esto permite mantener la proporción de la imagen */
  position: absolute;
  top: 65%; /* Ajusta el valor según tus necesidades */
  right: 850px; /* Ajusta el valor según tus necesidades y asegúrate de incluir las unidades (por ejemplo, px para píxeles) */
  transform: translate(0, -50%);
}



.hour-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambia el número de columnas según el diseño deseado */
  gap: 10px; /* Espacio entre los botones */
}

.hour-button {
  width: 100%;
  padding: 10px;
  border: none;
  /* border-radius: 4px; */
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.hour-button.selected {
  background-color: #249bad;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
  /* color: #0056b3; */
  padding: 5px;
  
}

.label-agendacita {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  /* color: #555; */
  position: relative;
  left: 34px;

}
.agenda-form-container input[type="text"],
.agenda-form-container input[type="email"],
.agenda-form-container .select {
  width: 80%;
  max-width: 600px; /* Ancho máximo deseado para las casillas de entrada y selección */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  margin-right: 54px;
  /* color: #0056b3; */
  
}
.agenda-form-container .select{
  width: 85%;
/* background-color: #0056b3; */
}

.Agendar {
  width: 40%;
  padding: 10px;
  background-color: #249bad;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  left:156px;
  cursor: pointer;
  top: 14px;
  transition: background-color 0.3s ease;
}

.Agendar:hover {
  background: #1e6d79;
}
