.cajass{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.cajass:hover{
  transform: scale(1.1);
}

.parraf{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 160%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.titut{
 position: relative;
 width: 80%;
 left: 45%;
 bottom: 80px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.fotos img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 80px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fotos:hover img{
  transform: scale(1.1);
}

/* container1 */

.cajass1{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8  );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.cajass1:hover{
  transform: scale(1.1);
}


.parraf1{
  width: 80%;
  position: relative;
  left:27%;
  bottom: 230px;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.titut1{
  width: 80%;
 position: relative;
 left: 25%;
 bottom: 70px;
 color: #00bef5;
font-size: 25px;
text-align: center;
font-family: 'Noto Sans Khojki';
}

.fotos1 img{
  width: 30%;
  position: relative;
  right: 80px;
  bottom: 50px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fotos1:hover img{
  transform: scale(1.1);
}


/* container2 */


.cajass2{
  width: 50%;
  height: 210px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8  );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.cajass2:hover{
  transform: scale(1.1);
}

.parraf2{
  height:1px;
  width: 70%;
  position: relative;
  left:35%;
  bottom: 230px;
  text-align:center;
  margin-left:0%;
  font-size: 19px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.titut2{
 position: relative;
 width: 100%;
 left: 20%;
 bottom: 40px;
 color: #00bef5;
font-size: 30px;
text-align: center;
font-family: 'Noto Sans Khojki';
}

.fotos2 img{
  width: 33%;
  position: relative;
  right: 60px;
  bottom: 50px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fotos2:hover img{
  transform: scale(1.1);
}

/* container3 */


.cajass3{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.cajass3:hover{
  transform: scale(1.1);
}

.parraf3{
  height:1px;
  width: 75%;
  position: relative;
  left:33%;
  bottom: 250px;
  text-align:center;
  font-size: 20px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.titut3{
 position: relative;
 width: 80%;
 text-align: center;
 left: 30%;
 bottom: 60px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.fotos3 img{
  width: 32%;
  position: relative;
  right:70px;
  bottom: 80px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fotos3:hover img{
  transform: scale(1.1);
}

/* conteiner4 */


.cajass4{
  width: 50%;
  height: 170px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.cajass4:hover{
  transform: scale(1.1);
}

.parraf4{
  
  width: 80%;
  position: relative;
  left:28%;
  bottom: 220%;
  text-align:center;
  font-size: 19px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.titut4{
 position: relative;
 text-align: center;
 width: 80%;
 left: 30%;
 bottom: 80px;
 color: #00bef5;
font-size: 29px;
font-family: 'Noto Sans Khojki';
}

.fotos4 img{
  width: 32%;
  position: relative;
  right: 80px;
  bottom: 120px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.fotos4:hover img{
  transform: scale(1.1);
}

