/* Estilos generales */
.close-button{
  background-color: #1c98ab;
  /* background-color: rgb(255, 255, 255); */
  margin-left: 30px;
  color: #ffffff;
  /* margin-right: 15px; */
}

.close-button:hover{
  background-color: #1e6d79;
}

.chatbot-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.chatbot-container .chatbot-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

}

.button-chatre{
   background-color: #1c98ab;
   margin-top: 5px;
   margin-left: 35%;
   font-size: 12px;
   border-radius: 10px;
}

.button-chatre:hover{
  background: #1e6d79;
}

.chatbotpreguntas{
  
  font-size: 15px;
  
}

.chatbot-questions{
  font-size: 44px;

}

.chat-header{
 font-size:19px;
}

.chat-body{
 font-size: 16px;
}


/* Estilos del chat */
.chat-window {
  position: fixed;
  bottom: 100px;
  right: 30px;
  height: 420px;
  width: 300px;
  background-color: #fffefe;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.3s ease-out;
  overflow-y: auto;
   
}

.chat-header {
  padding: 10px;
  background-color: #1c98ab;
  color: #fff;
  font-weight: bold;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  align-items: center;
}

.chat-body {
  padding: 10px;
  
}

.chat-body .chat-form {
  display: flex;
  margin-bottom: 10px;
  background-color: #2196f3;
}

.chat-body .chat-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 45px;
  
}
ul{
  list-style: none;
  
}
.chat-body .chat-submit {
  padding: 5px 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.imagen {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 65px;
  /* background-color: #ccc; */
  /* border-radius: 50%; */
}

.chatbot-questions {
  font-size: 13px;
  /* margin-left: 25px; */
}

.chatbot-questions p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.chatbot-questions li {
  font-size: 15px;
  margin-bottom: 5px;
  padding: 10px;
  /* background-color: #2196f3; */
  border-radius: 45px;
}
.chatbot-response {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  height: auto;
  margin-bottom: 10px;
  margin-top: 25px;
}

.input-ards{
  margin-left: 35px;
  /* background-color: #8f1c1c; */
  border: 1px solid #b4b2b2;
  height: 25px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
}

.h1-chatsbnfd {
  text-align: center;
  color: #62b5e2;
  margin-top: 45px;
  font-size: 14px;
  margin-left: 30px; /* Ajusta el tamaño de la letra según tus necesidades */
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}