h6 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  width: 100%;
  padding: 2px 25px;
  margin-top: 40px; /* Ajusta el valor según tu necesidad */
  margin-bottom: 20px;
}

.footer-area {
  background: #000000;
  padding: 10px;
  margin-top: 50px; /* Ajusta el valor según tu necesidad */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.footer-area p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.footer-area p span {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 25px;
}

.phone,
.email {
  box-sizing: border-box;
  padding: 10px;
  width: 20.1%;
}

.dateT {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.address {
  margin-left: 30px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fa-location-dot {
  margin-left: 5px;
}

.address-info .dateT {
  margin-left: 1px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.phone {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-phone-volume {
  margin-left: 35px;
}

.phone-info .dateT {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 05px;
}

.email {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-envelope {
  margin-left: 0.5em;
}

.email-info {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.email-info .dateT {
  margin-right: 0.5em;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.redes {
  padding-top: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-info p {
  margin-left: 35px;
  position: relative;
  top: 26px;
}
.fa-heart {
  margin-left: 20px;
  position: relative;
  top: 23px;
}
.fa-location-dot:hover {
  color: red;
}

.fa-envelope:hover {
  color:  #db4a39; /* Cambia el color al pasar el mouse sobre el ícono */
}

.fa-phone-volume:hover {
  color: green;
}

.fa-heart:hover {
  color: rgb(214, 44, 72);
}


.container-footer i {
  color: #ffffff;
  font-size: 30px;
  margin-top: 8px;
}

.panel-icons .footer-iconsi .fa-instagram {
  margin-left: 6px;
}

.panel-icons .footer-iconsf i {
  margin: 5px;
}

.panel-icons .footer-iconsf i,
li {
  font-size: 25px;
  margin-left: 5px;
}

.footer-iconsf li {
  margin-left: 20px;
}

.footer-iconsf ul li {
  display: inline-block;
}

.footer-iconsf ul li a {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  font-size: 15px;
  height: 35px;
  margin-top: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
  margin-right: 2px;
  width: 35px;
  border-radius: 50%;
  right: 20px;  
  top:  26px;

  position: relative;
}

.footer-iconsf {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: transparent; /* Agrega esta línea */
}

.footer-iconsf a:hover {
  background-color: #3b5998;
}

.panel-icons .footer-iconsi i {
  margin: 5px;
}

.panel-icons .footer-iconsi i,
li {
  font-size: 25px;
  margin-left: 5px;
}

.footer-iconsi li {
  margin-left: 20px;
}

.footer-iconsi ul li {
  display: inline-block;
}

.footer-iconsi ul li a {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  font-size: 15px;
  height: 35px;
  margin-top: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
  margin-right: 2px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  bottom: 23px;}

.footer-iconsi {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  background-color: transparent; /* Agrega esta línea */
}

.footer-iconsi a:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}


@media screen and (max-width: 768px) {
  h6 {
    font-size: 15px;
    padding: 2px 15px;
  }

  .footer-area p {
    font-size: 10px;
  }

  .footer-area p span {
    font-size: 10px;
  }


  .phone {
    margin-right: 40px;
  }

  .text_telefono {
    margin-left: 10px;
  }

  .dateT {
    font-size: 10px;
  }

  .footer-content {
    margin: 50px;
  }

  .address {
    margin-left: 10px;
  }

  .fa-location-dot {
    margin-left: 3px;
  }

  .address-info .dateT {
    font-size: 8px;
  }

  .fa-phone-volume {
    margin-left: 10px;
  }

  .phone-info .dateT {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .email {
    margin-left: 9px;
  }

  .fa-envelope {
    margin-right: 10px;
  }

  .email-info .dateT {
    font-size: 10px;
  }

  .redes {
    width: 50%;
  }

  .redes-info p {
    margin-left: 15px;
  }

  .fa-heart {
    margin-left: 15px;
  }

  .container-footer i {
    font-size: 35px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .panel-icons .footer-icons .fa-instagram {
    margin-left: 5px;
  }

  .panel-icons .footer-icons i,
  li {
    font-size: 10px;
    margin-left: 10px;
  }

  .footer-icons li {
    margin-left: 10px;
  }

  .footer-icons ul li a {
    height: 25px;
    width: 25px;
    line-height: 22px;
    margin-top: 5px;
    margin-left: 5px;
  }
}