h6 {
  font-family: "Noto Sans Khojki";
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  width: 100%;
  padding: 2px 25px;
}

.footer-area {
  background: #000000;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-area p {
  font-family: "Noto Sans Khojki";
  font-size: 15px;
}

.footer-area p span {
  font-family: "Noto Sans Khojki";
  color: #ffffff;
  font-size: 25px;
}
.phone,
.email {
  box-sizing: border-box;
  padding: 10px;
  width: 20.1%;
}

.dateT {
  color: #ffffff;
  font-family: "Noto Sans Khojki";
  font-size: 20px;
}

.address {
  margin-left: 30px;
  margin-top: 10px;
  text-align: center;
  font-family: "Noto Sans Khojki";
}
.fa-location-dot {
  margin-left: 5px;
}
.address-info .dateT {
  margin-left: 1px;
  font-size: 20px;
  font-family: "Noto Sans Khojki";
}

.phone {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-phone-volume {
  margin-left: 35px;
}

.phone-info .dateT {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Noto Sans Khojki";
  margin-left: 05px;
}

.email {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-envelope {
  margin-left: 0.5em;
}

.email-info {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Noto Sans Khojki";
}

.email-info .dateT {
  margin-right: 0.5em;
  font-size: 25px;
  font-family: "Noto Sans Khojki";
}

.redes {
  padding-top: 10px;
  text-align: center;
  font-family: "Noto Sans Khojki";
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redes-info p {
  margin-left: 35px;
}
.fa-heart {
  margin-left: 20px;
}

.container i {
  color: #ffffff;
  font-size: 30px;
  margin-top: 8px;
}
.panel-icons .footer-icons .fa-instagram {
  margin-left: 6px;
}

.panel-icons .footer-icons i {
  margin: 5px;
}
.panel-icons .footer-icons i,
li {
  font-size: 25px;
  margin-left: 5px;
}

.footer-icons li {
  margin-left: 20px;
}
.footer-icons ul li {
  display: inline-block;
}
.footer-icons ul li a {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  font-size: 15px;
  height: 35px;
  margin-top: 12px;
  font-family: "Noto Sans Khojki";
  line-height: 32px;
  margin-right: 2px;
  width: 35px;
  border-radius: 50%;
}
.footer-icons a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.footer-icons a:hover {
  background: #3ec1d5;
  text-shadow: none;
  color: #fff;
}
.footer-icons ul li a:hover {
  border-color: #3ec1d5;
}

@media screen and (max-width: 768px) {
  h6 {
    font-size: 15px;
    padding: 2px 15px;
  }

  .footer-area p {
    font-size: 10px;
  }

  .footer-area p span {
    font-size: 10px;
  }
  /* .phone,
  .email
  .address,
  .redes {
  

  } */

  .phone {
    margin-right: 40px;
  }
  .text_telefono {
    margin-left: 10px;
  }
  .dateT {
    font-size: 10px;
  }
  .footer-content {
    margin: 50px;
  }
  .address {
    margin-left: 10px;
  }

  .fa-location-dot {
    margin-left: 3px;
  }

  .address-info .dateT {
    font-size: 8px;
  }

  .fa-phone-volume {
    margin-left: 10px;
  }

  .phone-info .dateT {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .email {
    margin-left: 9px;
  }

  .fa-envelope {
    margin-right: 10px;
  }

  .email-info .dateT {
    font-size: 10px;
  }

  .redes {
    width: 50%;

    /* justify-content: center; */
  }

  .redes-info p {
    margin-left: 15px;
  }

  .fa-heart {
    margin-left: 15px;
  }

  .container i {
    font-size: 35px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .panel-icons .footer-icons .fa-instagram {
    margin-left: 5px;
  }

  .panel-icons .footer-icons i,
  li {
    font-size: 10px;
    margin-left: 10px;
  }

  .footer-icons li {
    margin-left: 10px;
  }

  .footer-icons ul li a {
    height: 25px;
    width: 25px;
    line-height: 22px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
