.RegisterHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #fff;
}

.iconoInicio {
	width: 200px;
	height: 200px;
	margin-bottom: 50px;
}

.Register {
	background-color: #f5f5f5;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 30px;
	width: 500px;
	text-align: center;
}

.Register h2 {
	margin-bottom: 30px;
	font-size: 2rem;
	color: #2d9cdb;
}

.RegisterForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.RegisterInput {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.RegisterInput::placeholder {
	color: #a5a5a5;
}

.RegisterButton {
	width: 100%;
	padding: 10px;
	margin-top: 30px;
	border: none;
	border-radius: 3px;
	background-color: #2d9cdb;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.RegisterButton:hover {
	background-color: #1c7db3;
}

.RegisterP {
	margin-top: 20px;
	font-size: 0.8rem;
	color: #a5a5a5;
}

.RegisterA {
	color: #2d9cdb;
	font-weight: bold;
	transition: color 0.2s ease-in-out;
}

.RegisterA:hover {
	color: #1c7db3;
}
