.Registro {
	padding-top: 100px;
	display: flex;
	background-color: rgb(255, 255, 255);
}

/* .container {
	padding-top: 10%;
	display: flex;
	background-color: red;
} */

.left-side {
	padding-top: 30%;
	margin-left: 50px;
	flex: 1;
	padding: 20px;
	background-image: url('https://res.cloudinary.com/dexfjrgyw/image/upload/v1686639162/Fresh_Smile_Cmills/img-register_alsr0e.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 40%;
	height: 870px;
	text-align: center;
}


.custom-modal {
	width: 300px; /* Ajusta el ancho de la ventana modal según tus preferencias */
	max-width: 20%;
	max-height: 20%;
	margin: 0 auto;
  }
  
  .custom-modal .modal-content {
	border: none; /* Elimina el borde */
	border-radius: 10px; /* Agrega esquinas redondeadas */
	background-color: #fff; /* Cambia el color de fondo a blanco o el color deseado */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
	margin-right: 25px;/* Agrega una sombra */
  }
  
  .custom-modal .modal-header {
	border-bottom: none; /* Elimina el borde inferior del encabezado */
  }
  
  .custom-modal .modal-footer {
	border-top: none; /* Elimina el borde superior del pie de página */
  }
  
  .custom-modal .modal-title {
	font-size: 1.2rem; /* Ajusta el tamaño de fuente del título según tus preferencias */
	font-weight: bold;
  }

  
  .custom-modal .BotonModalCancelar,
  .custom-modal .BotonModalGuardar {
	/* Ajusta los estilos de los botones según tus preferencias */
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 5px;
	background-color: #ccc;
	border: none;
	color: #fff;
	cursor: pointer;
  }
  
  .custom-modal .BotonModalCancelar {
	background-color: #e74c3c; /* Cambia el color de fondo del botón Cancelar */
  }
  
  .custom-modal .BotonModalGuardar {
	background-color: #2ecc71; /* Cambia el color de fondo del botón Guardar */
  }
  
.right-side {
	flex: 1;
	padding: 10px;
	background-color: #34cfe7;
	width: 15px;
	margin-top: -10px;
	
}

.img-left-side {
	/* width: 30%;
	align-items: center;
	justify-content: center;
	padding-top: 40%; */
	width: 50%;
	/* Ajusta el ancho al 100% del contenedor */
	max-width: 00px;
	/* Define un ancho máximo para evitar que la imagen se haga demasiado grande */
}

.form-input-container {
	flex: 1;
	padding: 20px;
	/* background-color: #249bad; */
	width: 60%;
	/* background-color: #D3D3D3; */
	height: 870px;
	
}

.registro-h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
	text-align: center;
	/* font-weight: bold; */
	/* font-family: 'Open Sans', sans-serif; */
	/* font-size: 30px; */
	color: #6d7c81;
	width: 845px;
}

/* h1 {
	margin-top: 0;
} */

.title-left {
	/* padding-top: 50%; */
	text-align: center;
	/* margin-bottom: 20px; */
}

.form-group {
	margin-bottom: 15px;
}

.Registro label {
	/* display: block; */
	margin-bottom: 5px;
	/* text-align: left; */
	/* font-weight: bold; */
	margin-left: 248px;
}

.Registro input[type="text"],
.Registro input[type="email"],
.Registro input[type="password"],
.Registro select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin-left: 248px;
}

.Registro select {
	height: 40px;
}

.BotonRegistro {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #249bad;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.BotonRegistro:hover,
.BotonRegistro:focus {
	background: #1e6d79;
}

.login-link {
	margin-top: 20px;
	text-align: center;
}

.login-link p {
	margin-bottom: 10px;
}

.login-link button {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #249bad;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.custom-swal-button {
	background-color: #249bad;
	color: white;
	border: none;
	/* Añade otros estilos según tus necesidades */
}

.custom-swal-button:hover {
	background-color: #1e6d79;
}
.custom-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  height: 100vh; /* Ocupa todo el alto de la ventana */
  padding: 20px;
}

.custom-modal .modal-dialog {
  width: 400px; /* Ajusta el ancho del modal según tus preferencias */
  max-width: 105%;

}

.custom-modal .modal-content {
  border: none;
  border-radius: 10px;
  background-color: #fff;
	width: 100%;
	padding: 15%;
	margin: -2em;
	margin-top: -2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-header {
  border-bottom: none;
}

.custom-modal .modal-footer {
  border-top: none;
}

.custom-modal .modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
	margin-top: 3.2rem;
}

.custom-modal .InputCodigo {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-modal .BotonModalCancelar,
.custom-modal .BotonModalGuardar {
  padding: 10px 20px;
	margin-top: 1em;
	margin-left: 50px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
}

.custom-modal .BotonModalCancelar {
  background-color:#ccc;
}

.custom-modal .BotonModalGuardar {
  background-color:#249bad;
}
.custom-modal button:hover {
  opacity: 0.8;
}


