.contenedorrr{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedorrr:hover{
  transform: scale(1.1);
}

.contenidorr{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 200%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loquerr{
 position: relative;
 width: 80%;
 left: 40%;
 bottom: 50px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestrarr img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 110px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestrarr:hover img{
  transform: scale(1.1);
}

/* container1 */

.contenedor111{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor111:hover{
  transform: scale(1.1);
}

.contenido111{
 
  width: 83%;
  position: relative;
  left:25%;
  bottom: 180%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque111{
 position: relative;
 width: 80%;
 left: 30%;
 bottom: 20px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra111 img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 110px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra111:hover img{
  transform: scale(1.1);
}


/* container2 */


.contenedor222{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor222:hover{
  transform: scale(1.1);
}

.contenido222{
  width: 83%;
  position: relative;
  left:23%;
  bottom: 150%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque222{
 position: relative;
 width: 70%;
 text-align: center;
 left: 27%;
 bottom: 80px;
 color: #00bef5;
font-size: 28px;
font-family: 'Noto Sans Khojki';
}

.muestra222 img{
  width: 30%;
  position: relative;
  right: 75px;
  bottom: 110px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra222:hover img{
  transform: scale(1.1);
}


/* container3 */


.contenedor333{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 35%;
  margin-top: 2%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor333:hover{
  transform: scale(1.1);
}

.contenido333{
  width: 80%;
  position: relative;
  left:26%;
  bottom: 110%;
  text-align:center;
  font-size: 20px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque333{
 position: relative;
 width: 80%;
 left: 35%;
 bottom: 30px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra333 img{
  width: 32%;
  position: relative;
  right: 75px;
  bottom: 70px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra333:hover img{
  transform: scale(1.1);
}


/* conteiner4 */


.contenedor444{
  width: 50%;
  height: 150px;
  padding: 100px;
  margin: 100px;
  margin-left: 4%;
  margin-top: 10%;
border-radius: 10px;
background-image: linear-gradient(1300deg,#D3D3D3, #ffffff, #7DC3E8 );
background-size: 500%;
animation: fanimado 10s infinite;
box-shadow: 0px 0px 10px 0px ;
transition: 0.9s;
overflow: hidden;
}

@keyframes fanimado{
  0%{
   background-position: 0% 50%;
  }
  50%{
   background-position: 100% 50%;
  }
  100%{
   background-position: 0% 50%;
  }
}

.contenedor444:hover{
  transform: scale(1.1);
}

.contenido444{
 
  width: 80%;
  position: relative;
  left:25%;
  bottom: 130%;
  text-align:center;
  font-size: 18px;
  color:#000000b2;
  font-family: 'Noto Sans Khojki';
  
}

.loque444{
 position: relative;
 width: 80%;
 text-align: center;
 left: 25%;
 bottom: 60px;
 color: #00bef5;
font-size: 30px;
font-family: 'Noto Sans Khojki';
}

.muestra444 img{
  width: 32%;
  position: relative;
  right: 75px;
  bottom: 60px;
  object-fit: cover;
  transition: transform 0.8s;
  cursor: pointer;

}
.muestra444:hover img{
  transform: scale(1.1);
}


