body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* Estilos del banner */

.container_banner {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(71, 71, 71, 0.671) 0%, rgba(41, 87, 95, 0.5) 100%, rgba(0, 0, 0, 0.705)), url("https://res.cloudinary.com/dexfjrgyw/image/upload/v1683852191/Fresh_Smile_Cmills/Ordotoncia_bdubi2.webp");
  /* filter: brightness(1.2); */
  background-size: cover;
  width: 100%;
  height: 30em;
  min-height: 50%;
  padding: 20px;
}


.linksinicio1 {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  position: relative;
  left: 10px;
  display: inline-block;
  text-align: center;
  display: flex;
  /* Añade esta propiedad */
  align-items: center;
  /* Añade esta propiedad */
  line-height: 100%;
  /* Ajusta el valor según sea necesario */
}

.space-wpp {
  position: fixed;
  bottom: 110px;
  right: 60px;
  z-index: 9999;
}


.float {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.float:hover {
  background-color: #0f7a8f;
}

.my-float {
  margin-top: 18px;
}


.linksinicio2 {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  position: relative;
  left: 4px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  display: flex;
  /* Añade esta propiedad */
  align-items: center;
  /* Añade esta propiedad */
  line-height: 100%;
  /* Ajusta el valor según sea necesario */
}

/*estilos principales*/

.container_home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container_home h1 {
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  margin-right: 15%;
  font-size: 2.8em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  position: relative;
  left: 123px;
  top: 73px;
}


.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-home {
  display: flex;
  align-items: center;
  width: 190px;
  height: 60px;
  background-color: #249bad;
  color: white;
  /* padding: 10px 20px; */
  text-align: center;
  font-size: 13px;
  /* Ajusta el tamaño de fuente según tus necesidades */
  /* margin: 50px; */
  position: relative;
  top: 80px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-family: 'Open Sans', sans-serif;
}


.boton-home:hover,
.boton-home:focus {
  background-color: #0f7a8f;
}



.procedimientos button:hover {
  background: radial-gradient(circle at 81.8% 27.73%, #419985 0, #38998c 6.25%, #309993 12.5%, #279999 18.75%, #2099a0 25%, #1c99a6 31.25%, #1c98ab 37.5%, #2197b0 43.75%, #2996b5 50%, #3395b9 56.25%, #3e93bc 62.5%, #4992bf 68.75%, #5490c0 75%, #5f8ec1 81.25%, #6a8cc1 87.5%, #748ac0 93.75%, #7e87be 100%);
}

/* Procedimientos*/

.container-wrapper-Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-procedimientos-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 380px;
  background-color: #D3D3D3;
  padding: 7px;
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-procedimientos-home:hover{
  
    transform: scale(1.1);
  
}

.card-image-proce {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.card-title {
  color: #ffffff;
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
  /* font-weight: bold; */
}

.card-button {
  background-color: #249bada2;
  width: 100%;
  /* padding: 0; */
  /* border: none; */
  /* padding: 10px 20px; */
  border-radius: 4px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #0f7a8f;
}

.linksblog {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  position: relative;
  left: 1px;
}


.container-procedimientos-Home {
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background: #D3D3D3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 0;
  /* outline: none; Agregado para eliminar el outline */

}

.container-procedimientos-Home:hover {
  transform: scale(1.05);
}

.container-procedimientos-Home img {
  width: 40%;
  max-height: 200px;
  margin-right: 20px;
}

.container-procedimientos-Home .content-procedimientos-home {
  width: 60%;
}

.content-procedimientos-home h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
  align-content: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.btn-blog {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #249bad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: 100px;
  /* Nuevos estilos para la animación */
  transition: transform 0.3s ease;
}

.btn-blog:hover {
  background-color: #0f7a8f;
}

/* Estilos Barras */
.barra {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  /* position: relative; */
  /* bottom: 20px; */
  /* background-color: #000000; */
  text-align: center;
}

.barra h2 {
  font-size: 45px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

.barra-2 {
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  background-color: #000000;
  text-align: center;
  /* top: 25px; */
  position: relative;
}

.barra-2 h2 {
  font-size: 45px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.title-barra {
  padding-top: 15px;
  font-size: 45px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}


.Especialidad{
  position: relative;
  top: 23px;
  left:10px;
}

.nombreespecialista{
  position: relative;
  top: 15px;
  left: 12px;
}

/*nosotros*/

.container-nosotros-home {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.card-nosotros-home {
  width: 230px;
  /* height: 230px; */
  border-radius: 10px;
  /* background-color: #f5fbfca2; */
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.card-nosotros-home img:hover {
  transform: scale(1.1);
  font-family: 'Open Sans', sans-serif;
}


.card-nosotros-home img {
  width: 110%;
  height: 75%;
  border-radius: 2%;
  /* margin: 0 auto; */
}

.card-nosotros-home:hover {
  opacity: 1;
}

.card-title-nosotros{
  color: #000000;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
}


.container-nosotros-home2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #D3D3D3;
}


.container-nosotros-home2 .image-nosotros {
  flex: 1;
  margin-right: 20px;
}

.container-nosotros-home2 .image-nosotros img {
  width: 70%;
  height: auto;
  display: block;
  position: relative;
  left: 125px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-nosotros-home2 .content-nosotros {
  flex: 1;
  /* text-align: center */
}

.container-nosotros-home2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-nosotros-home2 p {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.btn-nosotros-home{
  padding: 10px 20px;
  position: relative;
  top: 15px;
  font-size: 16px;
  background-color: #1c98ab;
}

.container-nosotros-home2 button:hover{
  background-color: #0f7a8f;
}


@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  .container_home h1 {
    font-size: 2em;
    margin-right: 5%;
    left: 0;
    top: 0;
  }

  .container-btn {
    flex-direction: column;
  }

  .boton-home {
    width: 150px;
    height: 50px;
    font-size: 12px;
    top: 40px;
  }

  .card-procedimientos-home {
    width: 300px;
    margin: 20px;
  }

  .card-procedimientos-home {
    width: 300px;
    margin: 20px;
  }

  .card-title {
    font-size: 20px;
   
  }

  .card-button {
    /* Actualiza los estilos según tus necesidades */
    font-size: 14px;
    padding: 8px 16px;

  }

  .linksblog {
    /* Actualiza los estilos según tus necesidades */
    font-size: 14px;
  }

  .container-procedimientos-Home {
    width: 90%;
    padding: 15px;
  }

   /*estilos de bararas*/

  .barra {
    /* Actualiza los estilos según tus necesidades */
    padding: 15px;
  }
 
  .barra-2 {
    /* Actualiza los estilos según tus necesidades */
    padding: 25px;
  }

  .barra-2 h2 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 36px;
  }

  .title-barra {
    /* Actualiza los estilos según tus necesidades */
    font-size: 36px;
  }

  /*especialistas*/

  .Especialidad {
    /* Actualiza los estilos según tus necesidades */
    top: 15px;
    left: 5px;
  }
  
  .nombreespecialista {
    /* Actualiza los estilos según tus necesidades */
    top: 10px;
    left: 8px;
  }

  /*nosotros*/

  .container-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    padding: 30px;
  }

  .card-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    width: 180px;
    padding: 20px;
    margin: 15px;
  }

  .card-nosotros-home img {
    /* Actualiza los estilos según tus necesidades */
    width: 100%;
    height: auto;
  }

  .card-title-nosotros {
    /* Actualiza los estilos según tus necesidades */
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
  }

  .container-nosotros-home2 {
    /* Actualiza los estilos según tus necesidades */
    flex-direction: column;
    justify-content: center;
    padding: 810px;
    
  }

  .container-nosotros-home2 .image-nosotros {
    /* Actualiza los estilos según tus necesidades */
    flex: none;
    margin-right: 0;
    margin-bottom: 20px;
   
  }

  .container-nosotros-home2 .image-nosotros img {
    /* Actualiza los estilos según tus necesidades */
    width: 90%;
    left: 0;
    margin-left: 20px;
    margin-right: 0;
  }

  .container-nosotros-home2 .content-nosotros {
    /* Actualiza los estilos según tus necesidades */
    text-align: center;
  }

  .container-nosotros-home2 h2 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 20px;
  }

  .container-nosotros-home2 p {
    /* Actualiza los estilos según tus necesidades */
    font-size: 18px;
    margin-bottom: 8px;
  }

  .btn-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    font-size: 14px;
    top: 10px;
  }

  /*responsive del fondo */

  .container_banner {
    /* Actualiza los estilos según tus necesidades */
    height: 20em;
  }

  .linksinicio1 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 14px;
    padding: 0.3rem;
    left: 5px;
  }

}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas con un ancho máximo de 480px */
  .container_home h1 {
    font-size: 1.5em;
    margin-right: 2%;
    left: 0;
    top: 0;
  }

  .container-btn {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .boton-home {
    width: 150px;
    height: 50px;
    font-size: 11px;
    top: 20px;
  }

  .card-procedimientos-home {
    width: 250px;
    margin: 15px;
  }

  .card-procedimientos-home {
    width: 250px;
    margin: 15px;
  }

  .card-title {
    font-size: 18px;
    
  }

  .card-button {
    /* Actualiza los estilos según tus necesidades */
    font-size: 12px;
    padding: 6px 12px;
  }

  .linksblog {
    /* Actualiza los estilos según tus necesidades */
    font-size: 12px;
  }

  .container-procedimientos-Home {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .barra {
    /* Actualiza los estilos según tus necesidades */
    padding: 10px;
    margin: 10px auto;
  }

  .barra-2 {
    /* Actualiza los estilos según tus necesidades */
    padding: 20px;
    margin: 10px auto;
    
  }

  .barra-2 h2 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 24px;
    margin-right: 40px;
  }

  .title-barra {
    /* Actualiza los estilos según tus necesidades */
    font-size: 24px;
  }

  /*especialistas*/

  .Especialidad {
    /* Actualiza los estilos según tus necesidades */
    top: 10px;
    left: 2px;
  }

  .nombreespecialista {
    /* Actualiza los estilos según tus necesidades */
    top: 5px;
    left: 4px;
  }

  /*nosotros*/

  .container-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    padding: 20px;
    
  }

  .card-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    width: 140px;
    padding: 15px;
    margin: 10px;
    
  }

  .card-nosotros-home img {
    /* Actualiza los estilos según tus necesidades */
    width: 90%;
    height: auto;
  }

  .card-title-nosotros {
    /* Actualiza los estilos según tus necesidades */
    margin-left: 10px;
    margin-top: 3px;
    font-size: 18px;
  }

  .container-nosotros-home2 {
    /* Actualiza los estilos según tus necesidades */
    padding: 5px;
  }

  .container-nosotros-home2 .image-nosotros {
    /* Actualiza los estilos según tus necesidades */
    margin-bottom: 10px;
  }

  .container-nosotros-home2 .image-nosotros img {
    /* Actualiza los estilos según tus necesidades */
    border-radius: 5px;
  }

  .container-nosotros-home2 h2 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 18px;
    margin-bottom: 8px;
  }

  .container-nosotros-home2 p {
    /* Actualiza los estilos según tus necesidades */
    font-size: 16px;
    margin-bottom: 6px;
  }

  .btn-nosotros-home {
    /* Actualiza los estilos según tus necesidades */
    font-size: 12px;
    top: 5px;
  }

  /*responsive principal fondo*/

  .container_banner {
    /* Actualiza los estilos según tus necesidades */
    height: 15em;
  }

  .linksinicio1 {
    /* Actualiza los estilos según tus necesidades */
    font-size: 12px;
    padding: 0.2rem;
    left: 3px;
  }

}