.container_banner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* background: url('https://images.pexels.com/photos/4269492/pexels-photo-4269492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/4269492/pexels-photo-4269492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  /* opacity: 0.8;  */
  /* background-position: cover; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 850px;
  padding: 20px;
}
.container_home{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_home h1 {
  /* line-height: 1.5; */
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  /* float: left; */
}

.container-btn{
  justify-content: center;
  align-items: center;
  display: flex;
}

.boton {
  align-items: center;
  width: 10%;
  height: 5%;
  background-color: #298697; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 30px 24px; /* Espacio interno */
  text-align: center; /* Alineación de texto */
  font-size: 20px; /* Tamaño de fuente */
  margin: 10px; /* Margen exterior */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
  border-radius: 40px; /* Radio de borde */
  border-color: #ffffff;
}

.boton:hover, .boton:focus {
    background-color: #3EC1D5;
}


.container-sedes {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 20px 10px;
  vertical-align: top;
  text-align: center;
  background: red;
}

.container-sedes img {
  max-width: 100%;
  height: auto;
}

.container-sedes h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container-sedes button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}