

/* Estilos de tarjeta más ancha */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* H1 y P */
.contenedor-portafolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
}



.btn-primary:hover,
.btn-primary:focus {
    background-color: #3EC1D5;
    border-color: #3EC1D5;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #3EC1D5;
    border-color: #3EC1D5;
}

section {
   margin: 300px 0;
   height: auto;
}

section .section-title {
    text-align: center;
    color: #3EC1D5;
    margin-bottom: 70px;
    text-transform: uppercase;
}

#container .card {
  border: none;
  background: #e5e2e2;
  width: 380px;
  height: 438px;
  position: relative;
  left: 9px;
  border-radius: 20px;
  margin: 0 auto 50px;
  padding: 20px;
}

#container{
  margin-bottom: 50px;
  height: auto;
  
}

.frontside {
    margin-bottom: 60px;
}

.frontside .card{
    min-height: 312px;
}

.frontside .card .card-title {
    color: #3EC1D5 !important;
}

.frontside .card .card-body img {
  width: 120px;
  position: relative;
  height: 120px;
  border-radius: 50%;
  margin: 0 10px;
  }
.direccion{
  color: #5072a5;
}
button{
  border-radius: 5px;
  background-color: #3EC1D5;
  color: #e5e2e2;
  border: #3EC1D5;
  font-size: 18px;
  height: 40px;
  width: 145px;
  position: relative;
  top: 15px;
}
button:hover{
  background-color: #4e939e;

}