.Sedes {
  color: #181818;
  padding-top: 70px;
  font-family: "Noto Sans Khojki";
  border-radius: 85px;
  font-size: 60px;
  text-align: center;
}

.container-wrapper-sede {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}
/* .linksblog{
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  position: relative;
  left:1px;
} */
.container-sede {
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  /* max-width: 600px; */
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background: #D3D3D3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 0;
  outline: none; /* Agregado para eliminar el outline */
}

.container-sede img {
  width: 40%;
  /* max-height: 200px; */
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.container-sede .content-div {
  width: 60%;
}

.container-sede .content-div h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #4fafd2;
  align-content: center;
  font-weight: bold;
  font-family: "Noto Sans Khojki";
}

.p-sede {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Noto Sans Khojki";
}
.btn-sede {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #249bad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.btn-sede:hover {
  background: radial-gradient(circle at 81.8% 27.73%, #419985 0, #38998c 6.25%, #309993 12.5%, #279999 18.75%, #2099a0 25%, #1c99a6 31.25%, #1c98ab 37.5%, #2197b0 43.75%, #2996b5 50%, #3395b9 56.25%, #3e93bc 62.5%, #4992bf 68.75%, #5490c0 75%, #5f8ec1 81.25%, #6a8cc1 87.5%, #748ac0 93.75%, #7e87be 100%);}
