.Sedes{
  color: #181818;
 /* background-color: #aaa2a241; */
 width:100%;
 padding: 100px;
 font-family: 'Noto Sans Khojki';
 border-radius: 85px; 
 font-size: 60px; 
 text-align: center;
 /* margin: 150px; */
 /* position: relative; */
 /* top: 150px; */
 /* left: 1500px; */
 

}
.container-sedes {
  /* display: inline-block; */
  width: 90%;
  font-family: 'Noto Sans Khojki';
  height: 900px;
  margin: 100px;
  /* vertical-align: top; */
  text-align: center;
  /* border-radius: 20px; */
  background-color:#dadada;
  /* position: relative; */
  border-radius: 45px;
}

.container-sedes img {
  width: 50%;
  height: 100%;
  /* padding: 120px; */
  /* margin: 23px; */
  display: block;
  float:left;
  /* position: relative; */
 border-radius: 65px;
}


.container-sedes h2 {
  font-family: 'Noto Sans Khojki';
  color: #7DC3E8;
  font-size: 90px;
  margin-bottom: 90px; /* Espacio inferior del título */
  text-align: center;
  letter-spacing: 0.5px;
  padding: 45px;
}

.container-sedes ul {
  list-style: none; /* Eliminar la viñeta de la lista */
  padding: 0; /* Eliminar el espacio interno por defecto */
  margin-bottom: 70px; /* Espacio inferior de la lista */
 
}

.container-sedes li {
  font-family: 'Noto Sans Khojki';
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
  /* Espacio inferior de cada elemento de la lista */
}



.botton-sede {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


.botton-sede   {
  align-items: center;
  /* padding: 30px;  */
  width: 20%;
  font-family: 'Noto Sans Khojki';
  height: 20%;
  background-color: #7DC3E8;
  color: #FFFFFF; 
  font-size: 42px; 
  /* margin-top: 100px;  */
  cursor: pointer; 
  border-radius: 40px;  
}

  .container-mapa {
    /* display: inline-block; */
  width: 90%;
  height: 900px;
  margin: 100px;
  text-align: center;
  border-radius: 20px;
  background-color: #F8F8F8;
  /* position: relative; */

  }
  
  .texto {
    font-family: 'Noto Sans Khojki';
    color: #181818;
    /* font-size: 60px;   */
    width: 50%;
    top: 300px;
    /* text-align: right; Alineación a la derecha */
    /* left: 100px; */
    /* position: absolute; */
  }
  
  

  .mapa img{
    width: 20%;
  padding: 120px;
  margin: 25px;
  border-radius:20%;
  top: 10px;
  left: 800px;
  /* position: relative; */
  }