.banner-principal {
  width: 80%;
  height: 50px;
  background: #D3D3D3;
  padding: 20px;
  text-align: center;
}

.titulo-banner {
  color: rgb(16, 15, 15);
  font-size: 28px;
}

.container-usuario {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    
  }
  
  /* .banner {
    width: 100%;
    display: flex;
  } */
  
  .tarjeta-perfil {
    width: 450px;
    height: 300px;
    background-color:#3b5e63;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .banner {
    display: flex;
    background: #D3D3D3;
    width: 100%; /* Ancho del banner-2 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-titulo {
    color: #1c98ab;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .perfil-info {
    font-size: 16px;
    margin-bottom: 5px;
    
  }

  .image-perfilUsuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

/*tablas aparte*/
.perfil-table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 650px;
  margin-top: -600px;
  
  
}

.perfil-table td {
  padding: 8px;
  width: 50%;
  
}


.perfil-table td:first-child {
  font-weight: bold;
  
}

.input-field {
  width: 90%;
  padding: 8px;
  border: 1px solid #fffdfd;
}


.editarU-boton {
  background-color: #7DC3E8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.editarU-boton:hover {
  background-color: #8fccd6;
}
