.banner-principal {
  width: 80%;
  height: 50px;
  background: #1c98ab;
  padding: 20px;
  text-align: center;
}

.titulo-banner {
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.container-usuario {
    padding-top: 130px;
    display: flex;
    justify-content: center;
  }
  
  /* .banner {
    width: 100%;
    display: flex;
  } */
  
  .tarjeta-perfil {
    width: 350px;
    height: 300px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .banner {
    display: flex;
    background: #D3D3D3;
    width: 100%; /* Ancho del banner-2 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-titulo {
    color: #1c98ab;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .perfil-info {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .image-perfilUsuario {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }