.barra-nost1 {
  width: 100%;
  margin: 80px auto 20px; /* Ajusta el valor de margin-top según sea necesario */
  padding: 50px;
  background-color: #7DC3E8;
  text-align: center;
  position: relative;
  top: 10px; /* Ajusta el valor según sea necesario */
}



.barra-nost1 h2 {
  font-size: 45px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.container_home1A {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_home1A h1 {
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  position: relative;
  left: 123px;
  top: 73px;
}
.container-usN {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
}
.post-nosotrosN {
  display: flex;
  align-items: center;
  width: 100%;
}
.post-nosotrosN img {
  max-width: 500px;
  border-radius: 5px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  right: 34px;
  top: 124px;
}


.post-ntsP {
  flex-grow: 1;
  max-width: 600px;
}
.post-ntsP p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  right: 220px; /* Ajusta el valor izquierdo para alinear el texto a la izquierda */
  top: 124px;
}


.post-titleT {
  font-size: 60px;
  font-weight: bold;
  margin-left: 300px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}




.icon-containerA {
  position: relative;
  top: 275px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  list-style:none;
  left: 50px;
}

.icon-rowB {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.icon-rowB img {
  max-width: 200px;
  margin-right: 20px;
  position: relative;
  bottom: 45px;
}

.icon-rowB > div {
  display: flex;
  flex-direction: column;
}

.icon-textD,
.icon-textDM {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #34cfe7;
  
  
}

.icon-subtextE,
.icon-subtextEM {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  
}
.specialist-container {
  display: flex;
  justify-content: space-between;
  border-radius: 45px;
  
}

.specialist-card {
  width: 300px;
  background-color: #D3D3D3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 745px;
  bottom: 490px;
 
}

.specialist-card2 {
  width: 300px;
  background-color: #D3D3D3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 745px;
  bottom: 490px;
  /* margin-left: 25px; */
}

.specialist-card3 {
  width: 300px;
  background-color: #D3D3D3;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  left: -40px; /* Ajusta el valor según sea necesario */
  bottom: 50px;
  margin-bottom: 20px; /* Espacio adicional entre tarjetas */
}



.specialist-card4 {
  width: 300px;
  background-color:#D3D3D3;
  border-radius: 8px;
  padding: 20px;
  /* margin-bottom: 200px; */
  position: relative;
  left:-40px;
  bottom: 50px;
  margin-bottom: 20px;
  /* color: #34cfe7; */
}



.specialist-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  left: 100px;
  border-radius: 45px;
}



.specialist-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  left: 64px;
}

.specialist-description {
  font-size: 14px;
  line-height: 1.5;
}


@media screen and (max-width: 768px) {
  .container_banner1A {
    height: 500px;
  }

  .container_home1A {
    flex-direction: row;
    justify-content: space-between;
  }

  .container_home1A h1 {
    font-size: 2em;
  }
  
  .icon-containerA {
    flex-direction: column;
    align-items: center;
  }

  .icon-containerA img {
    margin-left: 0;
  }

  .icon-rowB {
    display: flex;
    justify-content: center;
  }

  .icon-rowB .icon-imgCM,
  .icon-rowB .icon-imgC,
  .icon-rowB .icon-imgCM1 {
    margin-left: 0;
    margin-right: 10px;
  }

  
@media screen and (max-width: 480px) {
  .icon-rowB {
    flex-wrap: wrap;
  }

  .icon-rowB .icon-imgCM,
  .icon-rowB .icon-imgC,
  .icon-rowB .icon-imgCM1 {
    margin-bottom: 20px;
    margin-right: 0;
    width: 45%;
  }
}

  @media screen and (max-width: 480px) {
    .container_home1A h1 {
      font-size: 1.5em;
    }
  }
  
  .post-nosotrosN {
    display: flex;
    flex-direction: column;
    width: 100%;
  
  }
  
  .post-nosotrosN img {
    max-width: 180%;
    height: auto;
    float: left;
    width: 580px; /* Ajusta el ancho según tus necesidades */
  }
  
  .post-titleT {
    font-size: 40px;
    margin-left: 0;
    text-align: center;
  }
  
  .post-ntsP {
    max-width: 100%;
    text-align: left;
    width: 100%;
    font-size: 18px;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
  }
  
  .post-ntsP p {
    left: 0;
    top: 0;
  }
}