.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	margin-top: 100px;
	background-color: #aebfd2;
	margin: 700px; /* Ajusta el valor según tu necesidad */
	margin-top: 300px;
  }
  
  .login-label {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Añade esta línea */
	align-items: center; /* Añade esta línea */
	margin-bottom: 10px;
	font-weight: bold;
	padding: 15px;
  }
  
  .login-input {
	width: 200px;
	padding: 18px;
	margin-bottom: 18px;
	background-color: #184b78;
	border: none;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block; /* Agrega esta línea */
  }
  
  .login-select {
	width: 200px;
	padding: 8px;
	margin-bottom: 8px;
	background-color: #3074ab;
	border: none;
	color: #fff;
	margin: 45px;
	align-items: center;
  }
  
  .login-button {
	width: 200px;
	padding: 8px;
	background-color: #007bff;
	border: none;
	color: #fff;
	cursor: pointer;
	align-items: center;
  }
  
  .login-button:hover {
	background-color: #0056b3;
  }
  
  .loading-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
  }
  
  #animation-container {
	width: 300px;
	height: 200px;
  }
  
  .modal {
	/* Ajusta el tamaño de la ventana modal */
	width: 500px;
	height: 400px;
  
	/* Añade estilos de posición y centrado */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  
	/* Añade estilos de fondo y bordes */
	background-color: #c96161;
	border: 1px solid #542828;
	border-radius: 10px;
  
	/* Añade estilos de sombra */
  }  